.mmm{
    background: rgba(255, 255, 255, 0.6);
    background-color: rgba(0,28,218,0.4);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
.nnn{
    height: auto;
    background-image: url("../images/pexels-photo-38012.jpeg");
    width: 100%;
}
.bbb{
    margin-top: 5%;
}