@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@main("Home", webJarsUtil) {
    @navbar("home")
    <script src="@routes.Assets.versioned("javascripts/registration.js")" type="text/javascript"></script>
    <h1 class="text-center text-danger">Complicated Registration Forms</h1>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal" data-bind="submit: vm.onSubmit">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" data-bind="value: vm.email" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" data-bind="value: vm.psw" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="control-label col-md-3">Comment:</label>
                    <div class="col-md-8">
                        <textarea class="form-control " rows="5" id="comment" placeholder="Enter comment" name="comment" data-bind="value: vm.comment" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"> Select language(s) <br> which you can speak:</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline"><input type="checkbox" value="english" data-bind="checked: vm.slanguages">English</label>
                        <label class="checkbox-inline disabled"><input type="checkbox" disabled value="">Uzbek</label>
                        <label class="checkbox-inline"><input type="checkbox" value="russian" data-bind="checked: vm.slanguages">Russian</label>
                        <label class="checkbox-inline"><input type="checkbox" value="german" data-bind="checked: vm.slanguages">German</label>
                        <label class="checkbox-inline"><input type="checkbox" value="french" data-bind="checked: vm.slanguages">French</label>
                        <label class="checkbox-inline"><input type="checkbox" value="korean" data-bind="checked: vm.slanguages">Korean</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"> Preferred language:</label>
                    <div class="col-md-8">
                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked: vm.planguage" value="english">English</label>
                        <label class="radio-inline disabled"><input type="radio" disabled name="optradio">Uzbek</label>
                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked: vm.planguage" value="russian">Russian</label>
                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked: vm.planguage" value="german">German</label>
                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked: vm.planguage" value="french">French</label>
                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked: vm.planguage" value="korean">Korean</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right" data-bind="click: vm.onSubmit">Submit</button> &nbsp;
            </form>
            <br>
        </div>
    </div>
}
