@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
    @main("Users", webJarsUtil) {
        @navbar("users")

<div class="row nnn">
    <div class="row bbb">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <table class="table table-bordered mmm">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Adress</th>
                        <th>Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Maftunbek</td>
                        <td>Mini Parij</td>
                        <td>9673398</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Javlonbek</td>
                        <td>Gurlan sity</td>
                        <td>9679809</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Shoxruhbek</td>
                        <td>Xozarasp</td>
                        <td>9960519</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nizomiddin</td>
                        <td>Gurlan sity</td>
                        <td>9682787</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}